body{
  margin : 10px;
  padding : 20px;
  height : auto;
  background : url("../images/butterfly.jpg") no-repeat;
  background-size : 100%;
  border : solid;
  border-width : thick;
  border-radius : 10px;
  border-color: #6600cc;
}

.row{
  margin : auto;
  padding : 20px;
}

.row h1{
  margin : auto;
  margin-bottom : 0;
  margin-top : 10px;
  padding : 10px;
  background: none;
  font-size: 45px;
  font-family: cursive;
  font-weight: bold;
  color: #6600cc;
  text-align: center;
}

#imageDisplay{
  margin : auto;
  padding : 10px;
}


p{
  color: #6600cc;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:before{
  clear : both;
}
.picture{
  margin: 5px;
  padding : 5px;
  border : solid;
  border-width : 5px;
  border-color : #6600cc;
  border-radius: 5px;
}

.cartoon {
  float : left;
}

#imageForm, .image-btn, #addImage, .btn-default, a{
  padding: 5px 5px;
  margin : 2px;
  border : none;
  background-color: transparent;
  color: #6600cc;
  font-size : 25px;
  font-style: oblique;
  font-weight: bold;
  cursor : pointer;
}
a:visited {color:#6600cc;}

#imageForm, .image-btn, #addImage{
  float : right;
}
.image-btn {
  float : left;
  border : solid;
  border-radius : 10px;
  background-color: #ffccff;
}
#imageInput{
  background-color : transparent;
  color : #6600cc;
}
